<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Signup</h1>
    <form method="post">
         <input type="email" id="email" name="email" placeholder="email" required><br><br>
        <br>
        <input type="password" id="password" name="password" placeholder="password" required><br><br>
        <input type="submit" value="Register">
    </form>
   
</body>
</html>
