
<!--==================================================-->
<!-- Start Main Menu Area -->
<!--==================================================-->
<div class="mobile-menu-area sticky d-sm-block d-md-block d-lg-none ">
	<div class="mobile-menu">
		<nav class="header-menu">
			<ul class="nav_scroll">
				<li class="menu-item-has-children"><a href="#">Home<i class="fas fa-chevron-down"></i></a>
                   <ul class="sub-menu">
                   	    <li><a href="index.html">Home 1</a></li>
                   	    <li><a href="index-2.html">Home 2</a></li>
                   	   <li><a href="index-3.html">Home 3</a></li>
                   </ul>
				</li>
				<li class="menu-item-has-children"><a href="#">About<i class="fas fa-chevron-down"></i></a>
                   <ul class="sub-menu">
                   	   <li><a href="about-1.html">About Us 1</a></li>
                   	   <li><a href="about-2.html">About Us 2</a></li>
                   </ul>
				</li>
				<li class="menu-item-has-children"><a href="#">Service<i class="fas fa-chevron-down"></i></a>
                   <ul class="sub-menu">
                   	   <li><a href="service.html">Service</a></li>
                   	   <li><a href="service-details.html">Service Details</a></li>
                   </ul>
				</li>
				<li class="menu-item-has-children"><a href="#">Pages<i class="fas fa-chevron-down"></i></a>
                   <ul class="sub-menu">
                   	   <li><a href="about-1.html">About Us 1</a></li>
                   	   <li><a href="about-2.html">About Us 2</a></li>
                   	    <li><a href="service.html">Service</a></li>
                   	   <li><a href="service-details.html">Service Details</a></li>
                   	   <li><a href="project.html">Project</a></li>
                   	   <li><a href="project-details.html">Project Details </a></li>
                   	   <li><a href="team.html">Team</a></li>
                   	   <li><a href="careers.html">Careers</a></li>
                   	   <li><a href="pricing.html">Pricing</a></li>
                   	   <li><a href="faqs.html">Faqs</a></li>
                   </ul>
				</li>
			    <li class="menu-item-has-children"><a href="#">Blog<i class="fas fa-chevron-down"></i></a>
                   <ul class="sub-menu">
                   	   <li><a href="blog-grid.html">Blog Grid</a></li>
                   	   <li><a href="blog-details.html">Blog Details </a></li>
                   </ul>
				</li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
	</div>
</div>
<!--==================================================-->
<!-- End Main Menu Area -->
<!--==================================================-->





<!--==================================================-->
<!-- Start Toptech Hero Area Style One-->
<!--==================================================-->
<div class="hero-area style-one d-flex align-items-center">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12">
				<div class="hero-content">
					<h4>Welcome To Toptech </h4>
					<h1>Top It Solutions Agency </h1>
					<h1>In The World </h1>
					<p>And In Order To Make A Business, Brand Advertising And Marketing Plays An Important Role. Similarly, In Making  
						Cultivation Business 
				    </p>
				</div>
				<div class="hero-button style-one">
					<a href="">How It Works </a>
					<a class="button-two" href="#">IT Services <i class="flaticon flaticon-computer"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Toptech Hero Area Style One-->
<!--==================================================-->



<!--==================================================-->
<!-- Start Toptech Feature Area Style One-->
<!--==================================================-->
<div class="feature-area style-one">
	<div class="container">
		<div class="row margin-top">
			<div class="col-lg-4 col-md-6 col-xl-3">
				<div class="flip-box">
				    <div class="flip-box-inner">
					    <div class="flip-box-front">
						    <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/feature-icon.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Managed IT Services</h4>
						    	<p>Proin Pulvinar Eu Sem Endro thes Vehicula. Integer Urna Libero and, Semper emper business.</p>
						    </div>
						   <div class="flip-box-button">
		                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
		                    </div>
					    </div>
					    <div class="flip-box-back">
					        <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/feature-icon.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Managed IT Services</h4>
						    	<p>Proin Pulvinar Eu Sem Endro thes Vehicula. Integer Urna Libero and, Semper emper business.</p>
						    </div>
						   <div class="flip-box-button">
		                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
		                    </div>
					    </div>
				    </div>
				</div>
			</div>				
			<div class="col-lg-4 col-md-6 col-xl-3">
				<div class="flip-box">
				    <div class="flip-box-inner">
					    <div class="flip-box-front">
						    <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/feature-icon-2.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Cloud Services</h4>
						    	<p>Proin Pulvinar Eu Sem Endro thes Vehicula. Integer Urna Libero and, Semper emper business.</p>
						    </div>
						   <div class="flip-box-button">
		                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
		                    </div>
					    </div>
					    <div class="flip-box-back">
					        <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/feature-icon-2.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Cloud Services</h4>
						    	<p>Proin Pulvinar Eu Sem Endro thes Vehicula. Integer Urna Libero and, Semper emper business.</p>
						    </div>
						   <div class="flip-box-button">
		                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
		                    </div>
					    </div>
				    </div>
				</div>
			</div>				
			<div class="col-lg-4 col-md-6 col-xl-3">
				<div class="flip-box">
				    <div class="flip-box-inner">
					    <div class="flip-box-front">
						    <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/feature-icon-3.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Machine Learning</h4>
						    	<p>Proin Pulvinar Eu Sem Endro thes Vehicula. Integer Urna Libero and, Semper emper business.</p>
						    </div>
						   <div class="flip-box-button">
		                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
		                    </div>
					    </div>
					    <div class="flip-box-back">
					        <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/feature-icon-3.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Machine Learning</h4>
						    	<p>Proin Pulvinar Eu Sem Endro thes Vehicula. Integer Urna Libero and, Semper emper business.</p>
						    </div>
						   <div class="flip-box-button">
		                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
		                    </div>
					    </div>
				    </div>
				</div>
			</div>			
			<div class="col-lg-4 col-md-6 col-xl-3">
				<div class="flip-box">
				    <div class="flip-box-inner">
					    <div class="flip-box-front">
						    <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/feature-icon-4.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Data Security</h4>
						    	<p>Proin Pulvinar Eu Sem Endro thes Vehicula. Integer Urna Libero and, Semper emper business.</p>
						    </div>
						   <div class="flip-box-button">
		                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
		                    </div>
					    </div>
					    <div class="flip-box-back">
					        <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/feature-icon-4.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Data Security</h4>
						    	<p>Proin Pulvinar Eu Sem Endro thes Vehicula. Integer Urna Libero and, Semper emper business.</p>
						    </div>
						   <div class="flip-box-button">
		                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
		                    </div>
					    </div>
				    </div>
				</div>
			</div>			
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Toptech Feature Area Style One-->
<!--==================================================-->


<!--==================================================-->
<!-- Start Toptech About Area Style One-->
<!--==================================================-->
<div class="about-area style-one">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="about-thumb">
					<img src="assets/images/home-1/about-thumb.png" alt="">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-right">
					<div class="section-title left style-one">
						<h4>Who We Are</h4>
						<h1>Get Exclusive It Solutions &</h1>
						<h1>Services With <span>TopTech</span></h1>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which is best for IT solution service and consulting for your business.</p>
					</div>
					<div class="about-icon-box">
						<div class="about-icon-thumb">
							<img src="assets/images/home-1/about-icon1.png" alt="">
						</div>
						<div class="about-icon-box-content">
							<h4>Certified Company</h4>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin lorem awesome.</p>
						</div>
					</div>					
					<div class="about-icon-box">
						<div class="about-icon-thumb">
							<img src="assets/images/home-1/about-icon2.png" alt="">
						</div>
						<div class="about-icon-box-content">
							<h4>Internal Networking</h4>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin lorem awesome.</p>
						</div>
					</div>
					<div class="about-flex-box">
						<div class="toptech-button style-one">
							<a href="about-1.html">About More<i class="bi bi-arrow-right-circle-fill"></i></a>
						</div>
						<div class="about-author">
							<div class="about-author-thumb">
								<img src="assets/images/home-1/about-author.jpg" alt="">
							</div>
							<div class="about-author-content">
								<h4>Kevin Martin</h4>
								<p>CEO & Founder</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="about-shape">
			<img src="assets/images/home-1/about-shape.jpg" alt="">
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Toptech About Area Style One-->
<!--==================================================-->



<!--==================================================-->
<!-- Start Toptech Service Area Style One-->
<!--==================================================-->
<div class="service-area style-one">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="section-title center style-one">
					<h4>Service We Provide </h4>
					<h1>All Professional We’re Offering Best &amp;</h1>
					<h1>IT Solutions & <span>Services</span></h1>
			    </div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-xl-4">
				<div class="flip-box">
				    <div class="flip-box-inner">
					    <div class="flip-box-front">
						    <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/service-icon1.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Web Design</h4>
						    	<p>Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper mes.</p>
							    <div class="flip-box-button">
			                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
			                    </div>
						    </div>
					    </div>
					    <div class="flip-box-back">
					        <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/service-icon1.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Web Design</h4>
						    	<p>Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper mes.</p>
							    <div class="flip-box-button">
			                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
			                    </div>
						    </div>
					    </div>
				    </div>
				</div>
			</div>			
			<div class="col-lg-6 col-md-6 col-xl-4">
				<div class="flip-box">
				    <div class="flip-box-inner">
					    <div class="flip-box-front">
						    <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/service-icon2.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Motion Design</h4>
						    	<p>Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper mes.</p>
							    <div class="flip-box-button">
			                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
			                    </div>
						    </div>
					    </div>
					    <div class="flip-box-back">
					        <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/service-icon2.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Motion Design</h4>
						    	<p>Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper mes.</p>
							    <div class="flip-box-button">
			                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
			                    </div>
						    </div>
					    </div>
				    </div>
				</div>
			</div>			
			<div class="col-lg-6 col-md-6 col-xl-4">
				<div class="flip-box">
				    <div class="flip-box-inner">
					    <div class="flip-box-front">
						    <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/service-icon3.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Digital Marketing</h4>
						    	<p>Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper mes.</p>
							    <div class="flip-box-button">
			                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
			                    </div>
						    </div>
					    </div>
					    <div class="flip-box-back">
					        <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/service-icon3.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Digital Marketing</h4>
						    	<p>Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper mes.</p>
							    <div class="flip-box-button">
			                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
			                    </div>
						    </div>
					    </div>
				    </div>
				</div>
			</div>			
			<div class="col-lg-6 col-md-6 col-xl-4">
				<div class="flip-box">
				    <div class="flip-box-inner">
					    <div class="flip-box-front">
						    <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/service-icon4.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Web Development</h4>
						    	<p>Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper mes.</p>
							    <div class="flip-box-button">
			                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
			                    </div>
						    </div>
					    </div>
					    <div class="flip-box-back">
					        <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/service-icon4.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Web Development</h4>
						    	<p>Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper mes.</p>
							    <div class="flip-box-button">
			                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
			                    </div>
						    </div>
					    </div>
				    </div>
				</div>
			</div>			
			<div class="col-lg-6 col-md-6 col-xl-4">
				<div class="flip-box">
				    <div class="flip-box-inner">
					    <div class="flip-box-front">
						    <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/service-icon5.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>App Development</h4>
						    	<p>Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper mes.</p>
							    <div class="flip-box-button">
			                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
			                    </div>
						    </div>
					    </div>
					    <div class="flip-box-back">
					        <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/service-icon5.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>App Development</h4>
						    	<p>Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper mes.</p>
							    <div class="flip-box-button">
			                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
			                    </div>
						    </div>
					    </div>
				    </div>
				</div>
			</div>			<div class="col-lg-6 col-md-6 col-xl-4">
				<div class="flip-box">
				    <div class="flip-box-inner">
					    <div class="flip-box-front">
						    <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/service-icon6.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Creative Solution</h4>
						    	<p>Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper mes.</p>
							    <div class="flip-box-button">
			                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
			                    </div>
						    </div>
					    </div>
					    <div class="flip-box-back">
					        <div class="flip-box-thumb">
						      	<img src="assets/images/home-1/service-icon6.png" alt="">
						    </div>
						    <div class="flip-box-content">
						    	<h4>Creative Solution</h4>
						    	<p>Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper mes.</p>
							    <div class="flip-box-button">
			                    	<a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
			                    </div>
						    </div>
					    </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Toptech Service Area Style One-->
<!--==================================================-->



<!--==================================================-->
<!-- Start Toptech Work Process Area Style One-->
<!--==================================================-->
<div class="work-process-area style-one">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="section-title center style-one">
					<h4>Work Process</h4>
					<h1>Working Process For <span>Technology</span></h1>
			    </div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="single-process-box before-transprant after-transprant">
					<div class="process-box-thumb">
						<img src="assets/images/home-1/process-icon-1.png" alt="">
						<div class="process-number">
							<span>1</span>
						</div>
					</div>
					<div class="process-content">
						<h4>Select A Project</h4>
						<p>We have the technology and IT expertise to develop.</p>
					</div>
				</div>
			</div>			
			<div class="col-lg-3 col-md-6">
				<div class="single-process-box before-transprant">
					<div class="process-box-thumb">
						<img src="assets/images/home-1/process-icon-2.png" alt="">
						<div class="process-number">
							<span>2</span>
						</div>
					</div>
					<div class="process-content">
						<h4>Project Analysis</h4>
						<p>We have the technology and IT expertise to develop.</p>
					</div>
				</div>
			</div>			
			<div class="col-lg-3 col-md-6">
				<div class="single-process-box after-transprant">
					<div class="process-box-thumb">
						<img src="assets/images/home-1/process-icon-3.png" alt="">
						<div class="process-number">
							<span>3</span>
						</div>
					</div>
					<div class="process-content">
						<h4>Start Process</h4>
						<p>We have the technology and IT expertise to develop.</p>
					</div>
				</div>
			</div>			
			<div class="col-lg-3 col-md-6">
				<div class="single-process-box before-transprant">
					<div class="process-box-thumb">
						<img src="assets/images/home-1/process-icon-4.png" alt="">
						<div class="process-number">
							<span>4</span>
						</div>
					</div>
					<div class="process-content">
						<h4>Deliver Result</h4>
						<p>We have the technology and IT expertise to develop.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Toptech Work Process Area Style One-->
<!--==================================================-->



<!--==================================================-->
<!-- Start Toptech Faqs Area Style One-->
<!--==================================================-->
<div class="faqs-area style-one">
	<div class="container">
		<div class="row add-faqs-bg align-items-center">
			<div class="col-lg-6">
				<div class="single-contact-box">
					<div class="contact-content">
						<h4>Get Free Estimate</h4>
					</div>
					<form action="#">
						<div class="row">
							<div class="col-lg-12">
								<div class="single-input-box">
									<input type="text" name="name" placeholder="Name" required>
								</div>
							</div>							
							<div class="col-lg-12">
								<div class="single-input-box">
									<input type="text" name="phone" placeholder="Phone" required>
								</div>
							</div>							
							<div class="col-lg-12">
								<div class="single-input-box">
									<input type="text" name="Email" placeholder="Email" required>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="single-input-box">
									<textarea name="Massage" placeholder="Write Message" required></textarea>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="single-input-box">
									<button type="submit">Free Consultancy</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-6 faqs-right">
				<div class="section-title left style-one">
					<h4>Work Process</h4>
					<h1>Frequently Asked Any Kind </h1>
					<h1>Of Questions </h1>
			    </div>
			    <div class="faqs-container">
					<div class="faq-singular">
					    <h2 class="faq-question"><img src="assets/images/home-1/question.png" alt="">#1 What is Technology service?</h2>
					    <div class="faq-answer">
					      <div class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing awesom. Optio, neque qui velit. Magni dolorum quidem 
                            ipsam also as eligendi, totam, facilis laudantium.
					      </div>
					    </div>
				    </div>						
				    <div class="faq-singular">
					    <h2 class="faq-question"><img src="assets/images/home-1/question.png" alt="">#2 How To Buy A Product?</h2>
					    <div class="faq-answer">
					      <div class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing awesom. Optio, neque qui velit. Magni dolorum quidem 
                            ipsam also as eligendi, totam, facilis laudantium.
					      </div>
					    </div>
				    </div>					 
				    <div class="faq-singular">
					    <h2 class="faq-question"><img src="assets/images/home-1/question.png" alt="">#3 How Work The Support Policy?</h2>
					    <div class="faq-answer">
					      <div class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing awesom. Optio, neque qui velit. Magni dolorum quidem 
                            ipsam also as eligendi, totam, facilis laudantium.
					      </div>
					    </div>
				    </div>	
				   <div class="faq-singular">
					    <h2 class="faq-question"><img src="assets/images/home-1/question.png" alt="">#4 How Can Send A Refund Request?</h2>
					    <div class="faq-answer">
					      <div class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing awesom. Optio, neque qui velit. Magni dolorum quidem 
                            ipsam also as eligendi, totam, facilis laudantium.
					      </div>
					    </div>
				    </div>					
                </div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Toptech Faqs Area Style One-->
<!--==================================================-->



<!--==================================================-->
<!-- Start Toptech Portfolio Area Style One-->
<!--==================================================-->
<div class="portfolio-area style-one">
	<div class="container">
		<div class="row">
		    <div class="col-lg-12">
				<div class="section-title left style-one">
					<h4>Portfolio </h4>
					<h1>Our Completed <span>Projects</span></h1>
			    </div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="portfolio-list-1 owl-carousel">
				<div class="col-lg-12">
					<div class="single-portfolio-box">
						<div class="portfolio-thumb">
							<img src="assets/images/home-1/portfolio-1.jpg" alt="">
						</div>
						<div class="portfolio-content">
							<div class="portfolio-button">
								<a href="project.html"><i class="fa-solid fa-plus"></i></a>
							</div>
							<div class="portfolio-title">
							   <a href="project-details.html">Digital Marketing Agency</a>
							   <p>Marketing </p>
							</div>
						</div>
					</div>
				</div>					
				<div class="col-lg-12">
					<div class="single-portfolio-box">
						<div class="portfolio-thumb">
							<img src="assets/images/home-1/portfolio-2.jpg" alt="">
						</div>
						<div class="portfolio-content">
							<div class="portfolio-button">
								<a href="project.html"><i class="fa-solid fa-plus"></i></a>
							</div>
							<div class="portfolio-title">
							   <a href="project-details.html">Digital Marketing Agency</a>
							   <p>Marketing </p>
							</div>
						</div>
					</div>
				</div>					
				<div class="col-lg-12">
					<div class="single-portfolio-box">
						<div class="portfolio-thumb">
							<img src="assets/images/home-1/portfolio-3.jpg" alt="">
						</div>
						<div class="portfolio-content">
							<div class="portfolio-button">
								<a href="project.html"><i class="fa-solid fa-plus"></i></a>
							</div>
							<div class="portfolio-title">
							   <a href="project-details.html">Digital Marketing Agency</a>
							   <p>Marketing </p>
							</div>
						</div>
					</div>
				</div>					
				<div class="col-lg-12">
					<div class="single-portfolio-box">
						<div class="portfolio-thumb">
							<img src="assets/images/home-1/portfolio-4.jpg" alt="">
						</div>
						<div class="portfolio-content">
							<div class="portfolio-button">
								<a href="project.html"><i class="fa-solid fa-plus"></i></a>
							</div>
							<div class="portfolio-title">
							   <a href="project-details.html">Digital Marketing Agency</a>
							   <p>Marketing </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Toptech Portfolio Area Style One-->
<!--==================================================-->



<!--==================================================-->
<!-- Start Toptech Team Area Style One-->
<!--==================================================-->
<div class="team-area style-one">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="section-title center style-one">
					<h4>Team Member</h4>
					<h1>Meet With Our <span>Engineers</span> </h1>
			    </div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="single-team-box">
					<div class="team-thumb">
						<img src="assets/images/home-1/team1.jpg" alt="">
					</div>
					<div class="team-content">
						<div class="team-bio">
						   <h4>Arianna Bibi</h4>
						   <p>Web Developer</p>
						</div>
						<div class="team-social-icon">
							<ul>
								<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>  		
			<div class="col-lg-3 col-md-6">
				<div class="single-team-box">
					<div class="team-thumb">
						<img src="assets/images/home-1/team2.jpg" alt="">
					</div>
					<div class="team-content">
						<div class="team-bio">
						   <h4>Nazmul Hossen</h4>
						   <p>UI/UX Designar</p>
						</div>
						<div class="team-social-icon">
							<ul>
								<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>  		
			<div class="col-lg-3 col-md-6">
				<div class="single-team-box">
					<div class="team-thumb">
						<img src="assets/images/home-1/team3.jpg" alt="">
					</div>
					<div class="team-content">
						<div class="team-bio">
						   <h4>Roman Soltana </h4>
						   <p>Manager</p>
						</div>
						<div class="team-social-icon">
							<ul>
								<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div> 		
			<div class="col-lg-3 col-md-6">
				<div class="single-team-box">
					<div class="team-thumb">
						<img src="assets/images/home-1/team4.jpg" alt="">
					</div>
					<div class="team-content">
						<div class="team-bio">
						   <h4>Ghaura Mogibor </h4>
						   <p>UI/UX Developer</p>
						</div>
						<div class="team-social-icon">
							<ul>
								<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>  
		</div> 
	</div>
</div>
<!--==================================================-->
<!-- End Toptech Team Area Style One-->
<!--==================================================-->



<!--==================================================-->
<!-- Start Toptech Testimonial Area Style One-->
<!--==================================================-->
<div class="testimonial-area style-one">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="section-title center style-one">
        			<h4>Testimonial</h4>
        			<h1>Customer’s Awesome Feedback</h1>
        			<h1>About Our Services</h1>
        		</div>
			</div>
		</div>
		<div class="row">
			<div class="testi-list-1 owl-carousel">
			   <div class="col-lg-12 text-center">
					<div class="single-testimonial-box">
						<div class="testi-desc">
							<p>Completely extend leveraged customer service rather than performance based imperatives.
	                         magnetic relationships rather than leveraged e-markets. Rapidiously transform timely niches
	                         technology. Enthusiastically e-enable global e-markets for cooperative e-business. 
	                         Authoritatively deliver highly efficient expertise</p>
						</div>
						<div class="testi-rating">
							<ul>
								<li><i class="bi bi-star-fill"></i></li>
								<li><i class="bi bi-star-fill"></i></li>
								<li><i class="bi bi-star-fill"></i></li>
								<li><i class="bi bi-star-fill"></i></li>
								<li><i class="bi bi-star-fill"></i></li>
							</ul>
						</div>
						<div class="testi-author">
							<h4>Sokina Bibi</h4>
							<p>UI Designer</p>
						</div>
					</div>
			   </div>			   
			   <div class="col-lg-12 text-center">
					<div class="single-testimonial-box">
						<div class="testi-desc">
							<p>Completely extend leveraged customer service rather than performance based imperatives.
	                         magnetic relationships rather than leveraged e-markets. Rapidiously transform timely niches
	                         technology. Enthusiastically e-enable global e-markets for cooperative e-business. 
	                         Authoritatively deliver highly efficient expertise</p>
						</div>
						<div class="testi-rating">
							<ul>
								<li><i class="bi bi-star-fill"></i></li>
								<li><i class="bi bi-star-fill"></i></li>
								<li><i class="bi bi-star-fill"></i></li>
								<li><i class="bi bi-star-fill"></i></li>
								<li><i class="bi bi-star-fill"></i></li>
							</ul>
						</div>
						<div class="testi-author">
							<h4>John D. Alexon</h4>
							<p>UI Designer</p>
						</div>
					</div>
			   </div>			   
			   <div class="col-lg-12 text-center">
					<div class="single-testimonial-box">
						<div class="testi-desc">
							<p>Completely extend leveraged customer service rather than performance based imperatives.
	                         magnetic relationships rather than leveraged e-markets. Rapidiously transform timely niches
	                         technology. Enthusiastically e-enable global e-markets for cooperative e-business. 
	                         Authoritatively deliver highly efficient expertise</p>
						</div>
						<div class="testi-rating">
							<ul>
								<li><i class="bi bi-star-fill"></i></li>
								<li><i class="bi bi-star-fill"></i></li>
								<li><i class="bi bi-star-fill"></i></li>
								<li><i class="bi bi-star-fill"></i></li>
								<li><i class="bi bi-star-fill"></i></li>
							</ul>
						</div>
						<div class="testi-author">
							<h4>Tomar Amar Nani</h4>
							<p>UI Designer</p>
						</div>
					</div>
			   </div>			   
			   <div class="col-lg-12 text-center">
					<div class="single-testimonial-box">
						<div class="testi-desc">
							<p>Completely extend leveraged customer service rather than performance based imperatives.
	                         magnetic relationships rather than leveraged e-markets. Rapidiously transform timely niches
	                         technology. Enthusiastically e-enable global e-markets for cooperative e-business. 
	                         Authoritatively deliver highly efficient expertise</p>
						</div>
						<div class="testi-rating">
							<ul>
								<li><i class="bi bi-star-fill"></i></li>
								<li><i class="bi bi-star-fill"></i></li>
								<li><i class="bi bi-star-fill"></i></li>
								<li><i class="bi bi-star-fill"></i></li>
								<li><i class="bi bi-star-fill"></i></li>
							</ul>
						</div>
						<div class="testi-author">
							<h4>Tomar Amar Nana</h4>
							<p>UI Designer</p>
						</div>
					</div>
			   </div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Toptech Testimonial Area Style One-->
<!--==================================================-->


<!--==================================================-->
<!-- Start Toptech Blog Area Style One-->
<!--==================================================-->
<div class="blog-area style-one">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="section-title center style-one">
					<h4>Our blog Update</h4>
					<h1>Featured News And <span>Insights</span> </h1>
			    </div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-blog-box">
					<div class="blog-thumb">
						<img src="assets/images/home-1/blog1.png" alt="">
					</div>
					<div class="blog-content">
						<div class="blog-meta">
							<span><i class="bi bi-calendar-check-fill"></i> April 22 2024</span>
						</div>
						<a href="blog-details.html">Most Popular Chrome Extensionfor Business Promot</a>
					</div>
					<div class="blog-buttom">
						<div class="blog-author">
							<span><i class="bi bi-person-circle"></i>By Admin </span>
						</div>
						<div class="blog-button">
							<a href="blog-grid.html">Read More<i class="bi bi-arrow-right-short"></i></a>
						</div>
					</div>
				</div>
			</div>			
			<div class="col-lg-4 col-md-6">
				<div class="single-blog-box">
					<div class="blog-thumb">
						<img src="assets/images/home-1/blog2.png" alt="">
					</div>
					<div class="blog-content">
						<div class="blog-meta">
							<span><i class="bi bi-calendar-check-fill"></i> April 22 2024</span>
						</div>
						<a href="blog-details.html">Marketing Your Area Business Downturn Now A</a>
					</div>
					<div class="blog-buttom">
						<div class="blog-author">
							<span><i class="bi bi-person-circle"></i>By Admin </span>
						</div>
						<div class="blog-button">
							<a href="blog-grid.html">Read More<i class="bi bi-arrow-right-short"></i></a>
						</div>
					</div>
				</div>
			</div>			
			<div class="col-lg-4 col-md-6">
				<div class="single-blog-box">
					<div class="blog-thumb">
						<img src="assets/images/home-1/blog3.png" alt="">
					</div>
					<div class="blog-content">
						<div class="blog-meta">
							<span><i class="bi bi-calendar-check-fill"></i> April 22 2024</span>
						</div>
						<a href="blog-details.html">Better Context Menus With Safe Triangles</a>
					</div>
					<div class="blog-buttom">
						<div class="blog-author">
							<span><i class="bi bi-person-circle"></i>By Admin </span>
						</div>
						<div class="blog-button">
							<a href="blog-grid.html">Read More<i class="bi bi-arrow-right-short"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Toptech Blog Area Style One-->
<!--==================================================-->



<!--==================================================-->
<!-- Start Toptech Footer Area Style One-->
<!--==================================================-->
<div class="footer-area style-one">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="footer-logo">
					<a href="index.html"><img src="assets/images/logo-2.png" alt=""></a>
				</div>
				<div class="footer-widget-desc">
					<p>Monotonectally synergize granular top
                     visualize strategic infomediaries afters
                     task state of the art infrastructures
                     digital agency in north</p>
				</div>
				<div class="toptech-button inner-style">
                    <a href="#">Discover More<i class="bi bi-arrow-right-short"></i></a>
                </div>
			</div>
			<div class="col-lg-2 col-md-6">
				<div class="footer-widget-content">
					<div class="footer-widget-title">
						<h4>Company</h4>
					</div>
					<div class="footer-widget-menu">
						<ul>
							<li><a href="about-1.html"><i class="bi bi-arrow-right-circle"></i>About</a></li>
							<li><a href="team.html"><i class="bi bi-arrow-right-circle"></i>Our Team</a></li>
							<li><a href="pricing.html"><i class="bi bi-arrow-right-circle"></i>Pricing Plan</a></li>
							<li><a href="blog-grid.html"><i class="bi bi-arrow-right-circle"></i>Latest Blog</a></li>
							<li><a href="careers.html"><i class="bi bi-arrow-right-circle"></i>Careers</a></li>
						</ul>
					</div>
				</div>
			</div>			
			<div class="col-lg-3 col-md-6">
				<div class="footer-widget-content">
					<div class="footer-widget-title">
						<h4>Our Services</h4>
					</div>
					<div class="footer-widget-menu">
						<ul>
							<li><a href="#"><i class="bi bi-arrow-right-circle"></i>IT Solutions</a></li>
							<li><a href="#"><i class="bi bi-arrow-right-circle"></i>Cyber Security</a></li>
							<li><a href="#"><i class="bi bi-arrow-right-circle"></i>Digital Marketing</a></li>
							<li><a href="#"><i class="bi bi-arrow-right-circle"></i>Brand Identity</a></li>
							<li><a href="#"><i class="bi bi-arrow-right-circle"></i>SEO Marketing</a></li>
						</ul>
					</div>
				</div>
			</div>
		    <div class="col-lg-3 col-md-6">
				<div class="footer-widget-content">
					<div class="footer-widget-title">
						<h4>Newsletter</h4>
					</div>
                    <p class="f-desc-2">Subscribe our Latest Newsletter</p>
                    <form action="#">
                    	<div class="footer-newslatter-box">
                    		<input type="text" name="Email" placeholder="Enter Your E-Mail" required>
                    		<button type="submit">Subscribe</button>
                    	</div>
                    </form>
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="footer-bottom-area">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="footer-bottom-content">
							<p>© 2024 Toptech. Designed By Dream IT Solution</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="footer-botton-social-icon">
							<ul>
								<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Toptech Footer Area Style One-->
<!--==================================================-->


<!--==================================================-->
<!-- Start Toptech Search-->
<!--==================================================-->
<div class="search-popup">
	<button class="close-search style-two"><span class="flaticon-multiply"><i class="far fa-times-circle"></i></span></button>
	<button class="close-search"><i class="bi bi-arrow-up"></i></button>
	<form method="post" action="#">
		<div class="form-group">
			<input type="search" name="search-field" value="" placeholder="Search Here" required="">
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	</form>
</div>
<!--==================================================-->
<!-- End Toptech Search-->
<!--==================================================-->


<!--==================================================-->
<!-- Start Toptech Scroll Up-->
<!--==================================================-->
<div class="prgoress_indicator active-progress">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
          <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 212.78;"></path>
        </svg>
 </div>
<!--==================================================-->
<!-- End Toptech Scroll Up-->
<!--==================================================-->