  #main{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 20px;
        }
        
        #main>div{
            
         box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        }

        #main img{
            width: 100%;
            height: 50%;
        }

        #main {
            text-align: center;
        }